header {
  display: flex;
  align-items: center;
  //position: fixed;
  //z-index: 1;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
}
.logo span {
  color: MediumAquamarine;
  padding-left: 20px;
}
.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  width: 100%;
}
nav {
  display: inline-flex;
  align-content: flex-end;
}

header nav span {
  padding-right: 50px;
}

/*
nav span {
  display: inline-block;
  padding-right: 20px 10px;
}*/

a {
  color: black;
}

div {
  border: 1px solid black;
}

.container {
  display: flex;
  justify-content:center;
  margin-top: 30px;
}

.left-column, .middle-column, .right-column {
  display: flex;
  flex-direction: column;
}

.left-column {
  width: 630px;
  padding-right: 30px;
}

.left-bottom {
  display: flex;
}

.middle-column {
  width: 300px;
  padding-right: 30px;
}
.right-column {
  width: 240px;
}
.left-inside-left-bottom {
  padding-right: 30px;
}
