header {
  display: flex;
  align-items: center;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color:white;
  position: fixed;
  z-index: 1;
}

.logo span {
  color: MediumAquamarine;
  padding-left: 20px;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  width: 100%;
}

header nav {
  text-align: right;
  position: fixed;
  width: 100%;
  z-index: 5;
}

header nav span {
  padding-right: 50px;
}

a {
  color: black;
}

.container {
  display: flex;
  justify-content:center;
  margin-top: 30px;
  position: relative;
  top: 120px;
}

.left-column, .middle-column, .right-column {
  display: flex;
  flex-direction: column;
}

.left-column {
  width: 630px;
  padding-right: 30px;
}

.left-bottom {
  display: flex;
}

.middle-column {
  width: 300px;
  padding-right: 30px;
}

.left-inside-left-bottom {
  padding-right: 30px;
}

.image-text1, .image-text2, .image-text3, .image-text4 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.image-text1 {
  font-size: 40px;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.tuna-steak, .image-text1 {
  background-image: url("../images/img-story-main.png");
  background-repeat: no-repeat;
}

.lead-text {
  padding-top: 160px;
}
.earth {
  display: flex;
  align-items: center;
  background-image: url("../images/img-story-2.png");
  background-repeat: no-repeat;
  height: 299px;
  text-align: center;
}
.orca, .burger {
  padding-bottom: 30px;
}

.research {
  display: flex;
  align-items: center;
  background-image: url("../images/img-story-3.png");
  background-repeat: no-repeat;
  height: 299px;
  text-align: center;
}

.cats {
  display: flex;
  align-items: center;
  background-image: url("../images/img-story-1.png");
  background-repeat: no-repeat;
  height: 299px;
  text-align: center;
}

.right-column {
  display: flex;
  width: 240px;
  background-image: url("../images/img-news-bite.png");
  background-repeat: no-repeat;
}

.headline {
  padding-top: 220px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.news-bite span {
  display: flex;
  align-items: center;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  text-align: left;
  width: 240px;
  height: 40px;
  padding-left: 20px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: MediumAquamarine;
  font-family: Verdana;
  font-size: 12px;
  width: 100%;
  margin-top: 50px;
  height: 350px;
  position: relative;
  top: 140px;
}

.title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 25px;
  border-right: 2px solid white;
}

footer nav span {
  padding: 20px 10px;
  margin-left: 15px;
}

.mytimes-footer {
 display: flex;
  justify-content: center;

}
.copyright{
  position: relative;
  top: 20px;
}
